Repository mingnus/thin-merge: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check-locked, cargo-clippy-locked

cargo-check-locked:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check --locked
  language: system
  pass_filenames: false

cargo-clippy-locked:
  name: cargo clippy
  description: Run the Clippy linter on all the targets.
  entry: cargo clippy --locked --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

Factor out iterator and stream structs
  src/lib.rs
  src/mapping_iterator.rs
  src/merge.rs
  src/stream.rs
Due: cargo-clippy-locked

Fix opening device with metadata snapshot non-exclusively
  src/merge.rs
Due: cargo-clippy-locked

Support choosing between merge and rebase operations
  src/bin/thin_merge.rs
  src/merge.rs
Due: cargo-clippy-locked

Fix missing data space map size information in metadata snap
  src/merge.rs
Due: cargo-clippy-locked

Use vectored write to improve write performance
  Cargo.lock
  Cargo.toml
  src/merge.rs
Due: cargo-check-locked, cargo-clippy-locked

[docs] Add manpages and txt2man v1.7.1
  bin/txt2man
  man8/thin_merge.txt
Due: none

[build] Add Makefile for installation
  Makefile
Due: none

[docs] Add README
  README.md
Due: none

[build] Update license identifier
  Cargo.toml
Due: cargo-check-locked

[tests] Add basic io tests
  src/bin/thin_merge.rs
  tests/thin_merge.rs
Due: cargo-clippy-locked

[tests] Fix thin snapshot xml generator
  tests/common/thin_xml_generator.rs
Due: cargo-clippy-locked

[tests] Add verifier to check the results based on xml dumps
  tests/tools/mod.rs
  tests/tools/verifier.rs
Due: cargo-clippy-locked

[tests] Fix the mapped_blocks for thins in generated xml
  tests/common/thin_xml_generator.rs
Due: cargo-clippy-locked

[tests] Clone test fixtures from thinp
  Cargo.lock
  Cargo.toml
  tests/common/common_args.rs
  tests/common/fixture.rs
  tests/common/input_arg.rs
  tests/common/mod.rs
  tests/common/output_option.rs
  tests/common/process.rs
  tests/common/program.rs
  tests/common/target.rs
  tests/common/test_dir.rs
  tests/common/thin.rs
  tests/common/thin_xml_generator.rs
Due: cargo-check-locked, cargo-clippy-locked

[tests] Add merge functional tests
  tests/thin_merge.rs
Due: cargo-clippy-locked

Handle the case where --origin and --snapshot values are identical
  src/merge.rs
  tests/thin_merge.rs
Due: cargo-clippy-locked

[build] Update dependencies
  Cargo.lock
  Cargo.toml
Due: cargo-check-locked

Merge the mappings in ranges for efficiency
  src/mapping_iterator.rs
  src/merge.rs
  src/stream.rs
Due: cargo-clippy-locked

[build] Generate debug info for the release build
  Cargo.toml
Due: cargo-check-locked

Add GPLv3 license
  COPYING
Due: none

[build] Update thinp to v1.1.0
  .gitmodules
Due: none

[tests] Fix clippy lints
  tests/common/process.rs
Due: cargo-clippy-locked

[build] Revert rio to the upstream release
  Cargo.lock
  Cargo.toml
Due: cargo-check-locked

[build] Update manifest
  Cargo.toml
Due: cargo-check-locked

[build] Update dependencies
  Cargo.lock
Due: cargo-check-locked

Add a changelog file
  CHANGES
Due: none

Bump version to 0.1.1
  Cargo.lock
  Cargo.toml
Due: cargo-check-locked

Path conditions:
  cargo-check-locked: any of: Cargo.(lock|toml)$
  cargo-clippy-locked: any of: \.rs$
